body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
  text-transform: capitalize;
}

code,.container-div h3 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link ,.answered h4{
  padding:1em;
  color: rgba(18, 63, 105, 0.897);

}

.container-div {
  background: rgba(18, 63, 105, 0.897);

}
.container-div p{
  font:900 20px "Lucida Console", "Courier New", monospace;
  color:#fff;
  margin: 1em 0;
}
.container-div h3,
.code,
.add-question h1,
.text
{
  color:rgb(10, 146, 151);
  text-align:center;
}
.middle-div{
  background:rgba(240, 243, 245, 0.897) ;
}
.middle-div p, .log-out div, .log-out p, .add-question h2{
  color: rgba(18, 63, 105, 0.897);
  font:  bold 20px Georgia, serif;
}
.bottom-div
{
  background: rgba(161, 181, 201, 0.644);
}
  /*Login Component  */

   .login,
   .log-out,
   .select-user,
   .container-div,
   .bottom-div,
   .add-question,
   .unanswered,
   .answered,
   .unanswered > div >*,
   td div,
   .login-img
   {
    display: flex;

  }
  .login,.container-div,.add-question , .answered{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .login {
   width: 70vw;
   margin: 5vh auto;
 }
 .login >*{
   width: 100%;
   margin: 10px 0;
 }
 .login-img{
   justify-content: center;
 }
  .add-question{
    margin: 10vh auto;
  }
  .bottom-div p{
    flex: 80%;
  }
   td div{
    justify-content: space-around;
    width: 30vw;
  }
  .select:hover, .log-out p:hover  ,.link:hover{
    cursor: pointer;
    background: rgba(161, 181, 201, 0.644);
  }


/* add question component*/
.add-question div,
 .add-question h1{
   width: 80vw;

}
.unanswered, .bottom-div, .select-user {
  justify-content:space-between;
  align-items: center;
}
.bottom-div, .select-user{
  font-weight:600;
  font-size: 16px;
}
.answered{
  width: 70%;
  margin: 20px auto;
  background: rgba(161, 181, 201, 0.644);
  border-radius: 20px;
  box-shadow: 2px 10px 10px 10px rgb(240, 241, 241) ;

}
.answered > *{
  width:100%;
  text-align: center;

}
.answered p{
  color: #fff;

}













