body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,.container-div h3 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link{
  padding:1em;
  color: rgba(18, 63, 105, 0.897);

}
/*  question component styling */
.container-div{
  background: rgba(18, 63, 105, 0.897);

}
.container-div p{
  font:900 20px "Lucida Console", "Courier New", monospace;
  color:#fff;
  margin: 1em 0;
}
.container-div h3,
.code,
.add-question h1,
.text
{
  color:rgb(10, 146, 151);
  text-align:center;
}
.middle-div{
  background:rgba(240, 243, 245, 0.897) ;
}
.middle-div p, .log-out div, .log-out p{
  color: rgba(18, 63, 105, 0.897);
  font:  bold 20px Georgia, serif;
}
.bottom-div,
.add-question form
{
  background: rgba(161, 181, 201, 0.644);
}
  /*Login Component  */

   .login,
   .log-out,
   .select-user,
   .container-div,
   .bottom-div,
   .add-question,
   .unanswered,
   td div{
    display: flex;

  }
  .login,.container-div,.add-question{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom-div p{
    flex: 80%;
  }
  .select-user, td div{
    justify-content: space-around;
    width: 30vw;
  }
  .select:hover, .log-out p:hover  ,.link:hover{
    cursor: pointer;
    background: rgba(161, 181, 201, 0.644);
  }
  .bottom-div{
    justify-content: space-between;
  }

/* add question component*/
.add-question div,
 .add-question h1{
   width: 80vw;

}











